.compact-input {
    max-width: 250px;
}

.no-border {
    border: none;
}

.correct-input {
    margin-bottom: 2px;
}

.inputs {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
}

.test {
    background: red !important;
}